.content {
  &__btn:nth-child(2) {
    margin-bottom: 30px;
    margin-top: 0;
  }
  &__br-mobile {
    display: none;
  }
  &__btn-right {
    padding: 13px 46px;
    color: white;
    background-color: #4452fe;

    border: none;

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
      background-color: #004a99;
      transform: scale(1.05);
    }
  }
  &__btn {
    padding: 13px 46px;
    color: white;
    background-color: #4452fe;

    border: none;

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 57px;
    margin-bottom: 57px;

    &:hover {
      background-color: #004a99;
      transform: scale(1.05);
    }
  }

  &__wrapper {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 212px;
  }

  p {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;

    gap: 20px;

    &__wrapper {
      display: flex;
      gap: 33px;

      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 476px;
    height: 624px;
    padding: 40px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.4s ease-in-out,
      background-color 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px) scale(1.03);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      background-color: #f8f9fe;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 20px;
      color: #000;
    }

    p {
      font-size: 16px;
      line-height: 24px;

      margin-bottom: 16px;
      color: #5c5c5c;
    }

    img {
      width: 100%;
    }
  }
}

@include mobile() {
  .container {
    width: 100%;
    position: relative;
  }
  .content {
    &__btn:nth-child(2) {
      margin-bottom: 30px;
      margin-top: 0;
    }
    &__br-mobile {
      display: inline;
    }
    &__btn-right {
      padding: 13px 46px;
      color: white;
      background-color: #4452fe;

      border: none;

      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-top: 30px;
      margin-bottom: 30px;

      &:hover {
        background-color: #004a99;
        transform: scale(1.05);
      }
    }
    &__btn {
      padding: 13px 46px;
      color: white;
      background-color: #4452fe;

      border: none;

      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-top: 57px;
      margin-bottom: 57px;

      &:hover {
        background-color: #004a99;
        transform: scale(1.05);
      }
    }

    &__wrapper {
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
    }

    h1 {
      font-size: 52px;
      font-weight: 400;
      line-height: 62px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 0;
    }

    p {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 40px;
    }

    &__cards {
      display: flex;

      gap: 20px;

      &__wrapper {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin: 0 auto;
        gap: 33px;

        justify-content: center;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ddd;
      background-color: #fff;
      width: 384px;
      height: 572px;
      padding: 40px 35px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 20px;
        color: #000;
      }

      p {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 16px;
        color: #5c5c5c;
      }

      img {
        width: 100%;
      }
    }
  }
}
