.footer {
  background-color: #383638;
  color: white;

  &__link {
    padding: 132px 0 76px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 72px;

    h3 {
      font-size: 22px;
      font-weight: 300;
      line-height: 23.41px;
      margin-bottom: 10px;
      transition: color 0.3s ease;

      &:hover {
        color: #72a1ff;
      }
    }
  }

  &-section {
    li {
      line-height: 2;

      a {
        font-size: 18px;
        font-weight: 300;
        line-height: 23.41px;
        color: rgba(255, 255, 255, 0.584);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #72a1ff;
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    img {
      transition: transform 0.3s ease, color 0.3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: #72a1ff;
      }
    }
  }

  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.584);
    padding-bottom: 33px;
    transition: color 0.3s ease;

    &:hover {
      color: #b3b3b3;
    }
  }

  .footer__hr {
    border: none;
    border-top: 1px solid white;
    margin: 16px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include mobile() {
  .container {
    width: 100%;
  }
  .footer {
    background-color: #383638;
    color: white;

    &__link {
      padding: 45px 0 90px 0;
      display: flex;
      flex-direction: column;
      gap: 45px;

      img {
        width: 187px;
        height: 88px;
        margin: 0 auto;
        margin-bottom: 80px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      h3 {
        font-size: 22px;
        font-weight: 300;
        line-height: 23.41px;
        margin-bottom: 10px;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #72a1ff;
        }
      }
    }

    &-section {
      text-align: center;

      li {
        line-height: 2;

        a {
          font-size: 18px;
          font-weight: 300;
          line-height: 23.41px;
          color: rgba(255, 255, 255, 0.584);
          transition: color 0.3s ease;

          &:hover {
            color: #72a1ff;
          }
        }
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      a {
        color: white;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: #72a1ff;
        }
      }
    }

    p {
      text-align: center;
      color: rgba(255, 255, 255, 0.584);
      padding-bottom: 60px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #b3b3b3;
      }
    }

    .footer__hr {
      border: none;
      border-top: 1px solid white;
      margin: 20px 0;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
