.great-project {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__green-dotted {
    position: relative;
    img {
      cursor: pointer;
      position: absolute;
      top: -106px;
      left: 414px;
      z-index: -2;
    }
  }
  &__wrapper {
    margin-top: 95px;
    margin-bottom: 215px;
    position: relative;
  }
  &__card {
    cursor: pointer;
    width: 166px;
    height: 166px;
    border-radius: 16px;
    padding: 27px 25px 20px 20px;
    box-shadow: 0px 8px 24px 0px #00000026;
    background-color: white;

    position: absolute;
    z-index: 99;
    top: 347px;
    right: 146px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f0f8ff;
      transform: translateY(-10px);
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 13.64px;
      letter-spacing: 0.01em;
      text-align: left;
      margin-top: 12px;
    }

    &___title {
      display: flex;
      align-items: center;
      gap: 10px;

      &__desc {
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: left;
      }
      h1 {
        font-size: 10px;
        font-weight: 600;
        line-height: 12.5px;
      }
      span {
        font-size: 6px;
        font-weight: 600;
        line-height: 7.5px;
        color: #1d1d1d45;
      }
    }
  }
  &__profile {
    cursor: pointer;
    width: 175px;
    height: 95px;
    border-radius: 16px;
    box-shadow: 0px 8px 24px 0px #00000026;
    padding: 20px 32px 16px 20px;
    background: white;

    position: absolute;
    top: 48px;
    left: 200px;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #e6f7ff;
      transform: scale(1.05);
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.25);
    }
    &__card-title {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 11px;
      span {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        color: #1d1d1d68;
        text-transform: uppercase;
      }
    }
    h1 {
      display: flex;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
  }

  &__img {
    cursor: pointer;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
    }
    &::after {
      content: url(../../assets/icons/dotted-blue.svg);
      position: absolute;
      top: -20px;
      left: 384px;
      z-index: -1;
    }

    &::before {
      content: url(../../assets/icons/dotted-red.svg);
      position: absolute;
      bottom: -20px;
      left: 395px;
      z-index: -1;
    }

    &__ellipse-red {
      position: absolute;
      top: 184px;
      left: 177px;
      z-index: 99;
    }
    &__ellipse-blue {
      position: absolute;
      top: -40px;
      right: 80px;
    }
  }
}

@include mobile() {
  .containetr {
    width: 100%;
  }
  .great-project {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__green-dotted {
      img {
        display: none;
      }
    }
    &__wrapper {
      margin-top: 20px;
      margin-bottom: 99px;
      position: relative;
    }
    &__card {
      width: 80px;
      height: 80px;
      border-radius: 6px;

      padding: 10px;
      box-shadow: 0px 8px 24px 0px #00000026;
      background-color: white;

      position: absolute;
      z-index: 99;
      top: 165px;
      right: 93px;

      p {
        font-size: 6px;
        font-weight: 400;
        line-height: 6.82px;
        margin-top: 5px;
      }

      &___title {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 15.42px;
          height: 15.42px;
        }
        &__desc {
          display: flex;
          flex-direction: column;
          gap: 2px;
          text-align: left;
        }
        h1 {
          font-size: 5px;
          font-weight: 400;
          line-height: 6.5px;
        }
        span {
          font-size: 3px;
          font-weight: 600;
          line-height: 3.75px;

          color: #1d1d1d45;
        }
      }
    }
    &__profile {
      width: 99px;
      height: 53px;
      border-radius: 6px;
      box-shadow: 0px 8px 24px 0px #00000026;

      padding: 9px 16px;
      background: white;

      position: absolute;
      top: -15px;
      left: 92px;
      z-index: 999;

      &__card-title {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 6px;
        img {
          width: 13.33px;
          height: 12.68px;
        }
        span {
          font-size: 6px;
          font-weight: 700;
          line-height: 7px;
          color: #1d1d1d68;
          text-transform: uppercase;
        }
      }
      h1 {
        display: flex;
        font-size: 12px;
        font-weight: 700;
        line-height: 16.74px;
      }
    }

    &__img {
      position: relative;
      img {
        display: block;
        margin: 0 auto;
        width: 330px;
        height: 224px;
      }
      &::after {
        content: url(../../assets/icons/dotted-blue.svg);
        position: absolute;
        display: inline;
        left: 92px;
        top: 165px;
        z-index: -1;
      }

      &::before {
        content: url(../../assets/icons/dotted-orange.svg);
        position: absolute;
        top: -14px;
        left: 346px; //shu yerda right ishlamadi?
        z-index: -1;
        display: inline;
      }

      &__ellipse-red {
        display: none;
      }
      &__ellipse-blue {
        display: none;
      }
    }
  }
}
