.help {
  background-color: $table-bg-color;
  padding-bottom: 128px;
  padding-top: 141px;

  &__header {
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $red-color;
      margin-bottom: 20px;
    }
    h1 {
      color: $text-color;
      margin-bottom: 35px;
      font-size: 40px;
      font-weight: 800;
      line-height: 48px;
    }
  }

  &__wrapper {
    display: flex;
  }

  .card {
    border: 1px solid #f3d1bf;
    background-color: $table-bg-color;
    padding: 48px 48px 52px 48px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    &__title {
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: -1px;
      color: $text-color;
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      width: 294px;
      margin-top: 19px;
      margin-bottom: 26px;
      color: #391400a3;
    }

    &__link {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      color: $text-color;

      &:hover {
        text-decoration: underline;
        color: $red-color;
        cursor: pointer;
      }
    }

    &__icon {
      margin-bottom: 41px;
      border-radius: 50%;
      background-color: $red-color;
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        background-color: $red-color;
        cursor: pointer;
        width: 32px;
      }

      &:hover {
        background-color: darken($red-color, 5%);
      }
    }
  }
}

@include mobile() {
  .container {
    width: 100%;
  }

  .help {
    background-color: $table-bg-color;
    padding-bottom: 114px;
    padding-top: 0;

    &__header {
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $red-color;
      }

      h1 {
        color: $text-color;
        margin-bottom: 35px;
        margin-top: 17px;
        font-size: 39px;
        font-weight: 800;
        line-height: 48px;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    .card {
      border: 1px solid #f3d1bf;
      padding: 48px 48px 52px 28px;

      &__title {
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: -1px;
        color: $text-color;
      }

      &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        width: 273px;
        margin-top: 19px;
        margin-bottom: 26px;
        color: #391400a3;
      }

      &__link {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: $text-color;
      }

      &__icon {
        margin-bottom: 41px;
        border-radius: 50%;
        background-color: $red-color;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 32px;
          border-radius: 0;
          padding: 0;
        }
      }
    }
  }
}
