.interesting {
  &__wrapper {
    margin: 247px 0 178px 0;
    display: flex;
    align-items: center;
    gap: 143px;
    justify-content: space-between;
  }
  &__br-mobile {
    display: inline;
  }
  &__left {
    h1 {
      font-size: 55px;
      font-weight: 700;
      line-height: 75.02px;
      letter-spacing: 0.003em;
      margin-bottom: 25px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.01em;
      margin-bottom: 35px;
      color: #464646ac;
    }
  }

  &__right {
    position: relative;
    &::after {
      content: url(../../assets/icons/interesting-ellipse-blue.svg);
      position: absolute;
      top: -35px;
      left: -18px;
      z-index: -1;
    }
    &::before {
      content: url(../../assets/icons/interesting-ellipse-orange.svg);
      position: absolute;
      bottom: 17px;
      right: 119px;
      z-index: -1;
    }
    img {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    img:nth-child(1) {
      position: relative;
      z-index: 1;
      transform: translateY(11px, -11px);
    }

    img:nth-child(2) {
      transform: translate(-32px, -88px);
    }
  }
}

@include mobile() {
  .container {
    width: 100%;
  }
  .interesting {
    &__br-mobile {
      display: none;
    }
    &__wrapper {
      margin: 176px 0 100px 0;
      display: flex;
      flex-direction: column-reverse;

      gap: 45px;
    }
    &__left {
      text-align: center;
      h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.003em;
        margin-bottom: 25px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.01em;
        margin-bottom: 35px;
        color: #464646ac;
      }
    }

    &__right {
      position: relative;
      transform: translateX(28px);
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
      img:nth-child(1) {
        width: 221px;
        height: 196px;
        position: relative;
        z-index: 1;
        transform: translateY(-50px, -50px);
      }

      img:nth-child(2) {
        width: 180px;
        height: 177px;
        transform: translate(-64px, -97px);
      }
    }
  }
}
