.pertners {
  display: flex;
  gap: 74px;
  justify-content: center;
  text-align: center;
  &__br-mobile {
    display: none;
  }
  &__btn {
    padding: 13.5px 40px;
    margin-bottom: 50px;
  }
  h1 {
    margin-top: 200px;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74px;
    padding: 54px 0;
    &__img {
      display: flex;
      gap: 74px;
      img {
        cursor: pointer;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@include mobile() {
  .container {
    width: 100%;
    position: relative;
  }

  .pertners {
    display: flex;
    justify-content: center;
    text-align: center;
    &__br-mobile {
      display: inline;
    }
    &__btn {
      padding: 13.5px 40px;
      margin-bottom: 50px;
    }
    h1 {
      margin-top: 200px;
      font-size: 52px;
      font-weight: 400;
      line-height: 62px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      margin-top: 20px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 74px;

      padding: 54px 0;

      &__img {
        display: flex;
        width: 400px;
        align-items: center;
        justify-content: center;
        gap: 50px;
        &:nth-child(2) {
          width: 70px;

          gap: 50px;
        }
      }
    }
  }
}
